@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 2.2rem;
    background-color: #f8f8f8;
    color: #333;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8px;
    z-index: 10;
    background-color: #f8f8f8;
}

.left {
    display: flex;
    align-items: center;
}

.left a {
    display: flex;
    align-items: center;
}

.left svg {
    padding: 8px;
}

.left .external-icon {
    margin-left: 5px;
}

.middle {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(186, 186, 186, 0.7);
    border-radius: 30px;
    width: 600px;
    height: 30px;
    padding: 5px 0 5px 15px;
    margin-right: 15px;
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border-right: 1px solid rgba(186, 186, 186, 0.7);
    background: none;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 12.5px;
    display: flex;
    justify-content: center;
}

.mic {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.05);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right .create {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.05);
    height: 40px;
    padding: 0px 15px;
    border-radius: 30px;
    margin-right: 15px;
}

.right .profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.right .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar-section {
    width: 220px;
    height: 100%;
    overflow-y: auto;
    padding: 5px 5px 5px 0;
    z-index: 5;
    background-color: #f8f8f8;
}
.line:hover {
    background: rgba(0,0,0,0.05);
    cursor: pointer;
}
.line:not(.exp):hover {
    background: rgba(0,0,0,0.05);
    cursor: pointer;
}
.line .subscribe-img {
    width: 25px;
    height: 25px;
    object-fit: cover;   
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.info-section {
    font-size: 0.8rem;
    color: #606060;
    line-height: 1.2rem;
    margin: 0 20px;
}

.info-1, .info-2, .info-3 {
    margin-top: 15px;
}

.info-3 {
    color: #7e7e7e;
    font-size: 0.7rem;
}

.info-section .info-1 a, .info-section .info-2 a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.info-section .info-3 a {
    text-decoration: none;
    color: rgb(58, 64, 187);
    cursor: pointer;
}
.main {
    display: grid;
    gap: 15px;
    padding: 0 15px;
}


/* 1. 1536px 이상의 큰 화면 */
@media (min-width: 1536px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .small-section {
        display: none;
    }
    .sidebar-section .click {
        background: rgba(0,0,0,0.05);
    }
    .sidebar {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(186, 186, 186, 0.5);
    }
    .sidebar .line:first-child {
        margin-top: 10px;
    }
    .line {
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2.5px 10px;
        border-radius: 10px;
    }
    .line svg {
        display: inline-block;
        margin-right: 20px;
    }
}

/* 2. 1280px 이상 1536px 미만 */
@media (min-width: 1280px) and (max-width: 1535px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .small-section {
        display: none;
    }
    .sidebar-section .click {
        background: rgba(0,0,0,0.05);
    }
    .sidebar {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(186, 186, 186, 0.5);
    }
    .sidebar .line:first-child {
        margin-top: 10px;
    }
    .line {
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2.5px 10px;
        border-radius: 10px;
    }
    .line svg {
        display: inline-block;
        margin-right: 20px;
    }
}

/* 3. 1024px 이상 1280px 미만 */
@media (min-width: 1024px) and (max-width: 1279px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .sidebar:not(.small-section) {
        display: none;
    }
    .sidebar-section {
        width: 70px;
    }
    .line {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;
        margin: 10px 0;
        border-radius: 10px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .search-container {
        width: 400px;
    }
}

/* 768px 이상 1024px 미만 -> 여기부터 검색창 반응형 */
@media (min-width: 768px) and (max-width: 1023px) {
    .sidebar:not(.small-section) {
        display: none;
    }
    .main {
        grid-template-columns: 1fr 1fr;
    }
    .sidebar:not(.small-section) {
        display: none;
    }
    .sidebar-section {
        width: 70px;
    }
    .line {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;
        margin: 10px 0;
        border-radius: 10px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .search-container {
        width: 70%;
        min-width: 200px;
    }
    .middle {
        flex: 1;
        justify-content: center;
    }
}

/* 768px 미만의 작은 화면 */
@media (max-width: 767px) {
    /* 모바일 화면에 대한 스타일 */
    .sidebar {
        display: none;
    }
    .sidebar-section {
        width: 0px;
    }
    .search-container {
        width: 100%;
        max-width: 300px;
    }
    .middle {
        flex: 1;
        justify-content: center;
    }
    .mic {
        display: none;
    }
    .right .create {
        display: none;
    }
}

.right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.category-section {
    height: 56px;
    background-color: #f8f8f8;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;

    z-index: 5;
    margin: 0 20px;
}

.category {
    display: inline-block;
    background-color: rgba(0,0,0,0.05);
    padding: 0 12px;
    margin-right: 10px;
    border-radius: 10px;
    white-space: nowrap;
}

.category:first-child {
    background-color: #0f0f0f;
    color: #fff;
}

.main {
    flex: 1;
    overflow-y: auto;
}

.video {
    margin-bottom: 25px;
}

.video a {
    text-decoration: none;
    color: inherit;
}

.video .thumbnail-img {
    width: 100%;
    border-radius: 15px;
    position: relative;
}

.video .thumbnail-img img {
    width: 100%;
    border-radius: 15px;
}

.video .time {
    position: absolute;
    bottom: 20px;
    right: 8pt;
    z-index: 2;
    background: rgba(0,0,0,0.6);
    color: #f8f8f8;
    border-radius: 4px;
    padding: 1px 4px;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 500;
}

.video .profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.video .video-info {
    display: flex;
}

.video .video-info .title {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video .video-info .name, .video .video-info .views {
    font-size: 0.9rem;
    color: #606060;
    line-height: 1.5rem;
}

.video .video-info .name:hover {
    cursor: pointer;
    color: #333;
}